
{{ define "main" }}
    <h3 class="display-5 pb-1">Software</h3>
    <p>The FORSYTE group provides and maintains a number of (research) software projects. Detailed information, including downloads and publications can be found on the respective tool's page:</p>
    <ul>
    {{ range where .Pages ".Params.former" false }}
        <li><a href="{{ .Params.website }}">{{ .Params.name }}:</a> {{ .Params.short_description }}</li>
    {{ end }}
    </ul>
    <h4 class="display-5 pb-1">Former Projects</h4>
    <ul>
    {{ range where .Pages ".Params.former" true }}
        <li><a href="{{ .Params.website }}">{{ .Params.name }}:</a> {{ .Params.short_description }}</li>
    {{ end }}
    </ul>
{{ end }}
