
{{ define "main" }}
    <h3 class="display-5 pb-1">Software</h3>
    {{ .Content }}
    <ul>
    {{ range where .Pages ".Params.former" false }}
        <li><a href="{{ .Params.website }}">{{ .Params.name }}:</a> {{ .Params.short_description }}</li>
    {{ end }}
    </ul>
    <h4 class="display-5 pb-1">Former Projects</h4>
    <ul>
    {{ range where .Pages ".Params.former" true }}
        <li><a href="{{ .Params.website }}">{{ .Params.name }}:</a> {{ .Params.short_description }}</li>
    {{ end }}
    </ul>
{{ end }}
