{{ define "main" }}
    {{ .Content }}
    {{ $oids := slice }}
    {{ range (.Site.GetPage "section" "people").Pages }}
        {{ with .Params.tiss_id }}
            {{ if (gt . 0) }}
                {{ $person := (partial "get-person.html" .) }}
                {{ $oids = $oids | append (string $person.oid) }}
            {{ end }}
        {{ end }}
    {{ end }}
    <h3>Current/upcoming courses</h3>
    {{ $currentCourses := partial "get-courses.html" (dict "oids" $oids "years" (seq (int now.Year) (add (int now.Year) 1))) }}
    {{ partial "list-courses.html" $currentCourses }}
    <h3>Old courses</h3>
    {{ $oldCourses := partial "get-courses.html" (dict "oids" $oids "years" (seq 2018 (sub (int now.Year) 1))) }}
    {{ partial "list-courses.html" $oldCourses }}
{{ end }}