{{ define "main" }}

{{ $rooms := slice }}
{{ with .Params.room }}
    {{ $rooms = slice . }}
{{ end }}
{{ $orcid := .Params.orcid }}
{{ $phone := .Params.phone }}
{{ $email := .Params.email }}
{{ $oid := "" }}
{{ $image := "https://informatics.tuwien.ac.at/assets/w18/1.7.3/images/silhouette.svg"}}
{{ with .Params.tiss_id }}
    {{ $tiss := partial "get-person.html" . }}
    {{ range $tiss.employee }}
        {{ with .room }}
            {{ $rooms = union $rooms (slice .room_code) }}
        {{ end }}
    {{ end }}
    {{ if (and $tiss.orcid (eq $orcid nil)) }}
        {{ $orcid = $tiss.orcid }}
    {{ end }}
    {{ if (and $tiss.main_phone_number (eq $phone nil)) }}
        {{ $phone = $tiss.main_phone_number }}
    {{ end }}
    {{ if (and $tiss.main_email (eq $email nil)) }}
        {{ $email = $tiss.main_email }}
    {{ end }}
    {{ $oid = (string $tiss.oid) }}
    {{ with $tiss.picture_uri }}
        {{ $image = (printf "https://tiss.tuwien.ac.at%v" .) }}
    {{ end }}
{{ end }}
{{ with .Params.image }}
    {{ $image = . }}
{{ end }}

<div class="row">
<div class="col-3">
<img style="width: 250; height: 250; object-fit: cover; object-position: center" src="{{ $image }}">
</div><div class="col-9">
<h1>{{ .Params.name }}</h1>
{{ with .Params.roles }}
    {{ if (len .) }}
        <h2>
        {{ range $index, $role := . }}
            {{- if $index }}, {{ end -}}{{ partial "rolesingular.html" . }}
        {{- end -}}
        </h2>
    {{ end }}
{{ end }}
<div class="row">
    {{ with .Params.groups }}
        {{ if (len .) }}
            <div class="col"><strong>Group{{ if gt (len .) 1 }}s{{ end }}</strong></div>
            <div class="col">
            {{ range $index, $group := . }}
                {{- if gt $index 0 }}, {{ end -}}
                {{ with $.Site.GetPage (printf "/groups/%v" $group) -}}
                    <a href="{{ .RelPermalink }}">{{ .Params.name }}</a>
                {{- end -}}
            {{- end -}}
            </div>
        {{ end }}
    {{ end }}
</div>
{{ if (len $rooms) }}
<div class="row">
    <div class="col"><strong>Room</strong></div>
    <div class="col">
    {{ range $index, $room := $rooms }}
        <a target="_blank" href="https://tuw-maps.tuwien.ac.at/?q={{ $room }}">{{ $room }}</a>
    {{ end }}
    (<a title="Visiting FORSYTE" href="/contact/visiting/">how to get there</a>)</div>
</div>
{{ end }}
{{ with $phone }}
<div class="row">
    <div class="col"><strong>Phone</strong></div>
    <div class="col">{{ . }}</div>
</div>
{{ end }}
{{ with $email }}
<div class="row">
    <div class="col"><strong>Email</strong></div>
    <div class="col"><a href="mailto:{{ $email }}">{{ $email }}</a></div>
</div>
{{ end }}
{{ with .Params.website }}
<div class="row">
    <div class="col"><strong>Website</strong></div>
    <div class="col"><a href="{{ . }}">{{ . }}</a></div>
</div>
{{ end }}
<div class="row">
    <div class="col"><strong>Other links</strong></div>
    <div class="col">
        {{ with .Params.github }}
        <a href="https://github.com/{{ . }}">
            <img style="width: 25; height: 25; filter: invert(100%); object-fit: scale; object-position: center" src="https://github.githubassets.com/favicons/favicon-dark.svg"/>
        </a>
        {{end}}
        {{ with $orcid }}
        <a href="https://orcid.org/{{ . }}">
            <img style="width: 25; height: 25; object-fit: cover; object-position: center" src="https://orcid.org/assets/icons/favicon.ico"/>
        </a>
        {{ end }}
    </div>
</div>
</div>
</div>

{{ .Content }}

{{ if $oid }}
{{ with partial "get-courses.html" (slice $oid) }}
    <h3 class="display-5 pb-1">Teaching</h3>
    {{ partial "list-courses.html" . }}
{{ end }}
{{ end }}

{{ with partial "get-publications.html" (dict "people" (slice .) "page" .) }}
    <h3 class="display-5 pb-1">Publications</h3>
    {{ partial "list-publications.html" . }}
{{ end }}
{{ end }}
