<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Course number</th>
            <th scope="col">Course name</th>
            <th scope="col">Type</th>
            <th scope="col">Latest/upcoming Semester</th>
            <th scope="col">TISS link</th>
        </tr>
    </thead>
    <tbody>
    {{ range (sort . ".semesterCode" "desc") }}
        <tr>
            <td>{{ .courseNumber }}</td>
            <td>{{ .title.en }}</td>
            <td>{{ .courseType }}</td>
            <td>{{ .semesterCode }}</td>
            <td><a href="{{ .url }}" target="_blank"><i class="fa fa-external-link"></i></a></td>
        </tr>
    {{ end }}
    </tbody>
</table>