
<div class="col-4">
    <div class="media border shadow-sm hoverable" style="width: 16rem;">
        <img style="width: 70; height: 70; object-fit: cover" src="{{ .Params.image }}" class="mr-2">
        <div class="media-body">
            <a href="{{ .Permalink }}" class="text-danger stretched-link"><p class="card-title h5-small">{{ .Params.name }}</p></a>
            {{ range .Params.roles }}
                <p class="small">{{ partial "rolesingular.html" . }}</p>
            {{ end }}
        </div>
    </div>
</div>
