<strong>{{ .publication.title }}</strong>
{{ $line0 := slice }}
{{ range $index, $a := .publication.author }}
    {{ $name := (partial "print-name.html" $a) }}
    {{ with (index $.people_links $name) }}
        {{ $name = (printf "<a class=\"author_link\" href=\"%s\">%s</a>" . $name) }}
    {{ end }}
    {{ $line0 = $line0 | append $name }}
{{ end }}
{{ with $line0 }}
    <br>{{ delimit . ", " }}.
{{ end }}

{{ $line1 := slice }}
{{ with (index .publication "container-title") }}
    {{ $line1 = $line1 | append (printf "<em>%s</em>" .) }}
{{ end }}
{{ with .publication.volume }}
    {{ $line1 = $line1 | append (printf "volume %d" .) }}
{{ end }}
{{ with .publication.page }}
    {{ $line1 = $line1 | append (printf "pages %s" .) }}
{{ end }}
{{ with .publication.issued }}
    {{ $line1 = $line1 | append . }}
{{ end }}
{{ with $line1 }}
    <br>{{ delimit . ", " }}.
{{ end }}

{{ $line2 := slice }}
{{ with .publication.url }}
    {{ $line2 = $line2 | append (printf "<a href=\"%s\">[pdf]</a>" .) }}
{{ end -}}
{{- with .publication.doi }}
    {{ $line2 = $line2 | append (printf "<a href=\"https://doi.org/%s\">[doi]</a>" .) }}
{{ end }}
{{ with $line2 }}
    <br>{{ delimit . " " }}
{{ end }}
<hr/>