<div class="row">
<div class="col-1">
{{ $fa_tag := 0 }}
{{ $type := .publication.type }}
{{ if (or (eq .publication.type "book") (eq .publication.type "chapter")) }}
    {{ $fa_tag = "book" }}
{{ end }}
{{ if eq .publication.type "thesis" }}
    {{ $fa_tag = "graduation-cap" }}
    {{ with .publication.genre }}
        {{ $type = . }}
    {{ end }}
{{ end }}
{{ if (or (eq .publication.type "article-journal") (eq .publication.type "paper-conference")) }}
    {{ $fa_tag = "newspaper-o" }}
{{ end }}
{{ if (or (eq .publication.type "manuscript") (eq .publication.type "report")) }}
    {{ $fa_tag = "file-text" }}
{{ end }}
{{ if $fa_tag }}
    <i class="fa fa-{{ $fa_tag }} fa-2x" title="{{ $type }}"></i>
{{ else }}
    {{ .publication.type }}
{{ end }}
</div>
<div class="col-11">
<strong>{{ .publication.title }}</strong>
{{ $line0 := slice }}
{{ range $index, $a := .publication.author }}
    {{ $name := (partial "print-name.html" $a) }}
    {{ with (index $.people_links $name) }}
        {{ $name = (printf "<a class=\"author_link\" href=\"%v\">%v</a>" . $name) }}
    {{ end }}
    {{ $line0 = $line0 | append $name }}
{{ end }}
{{ with $line0 }}
    <br>{{ delimit . ", " }}.
{{ end }}

{{ $line1 := slice }}
{{ with (index .publication "container-title") }}
    {{ $line1 = $line1 | append (printf "<em>%v</em>" .) }}
{{ end }}
{{ with .publication.volume }}
    {{ $line1 = $line1 | append (printf "volume %v" .) }}
{{ end }}
{{ with .publication.page }}
    {{ $line1 = $line1 | append (printf "pages %v" .) }}
{{ end }}
{{ with .publication.issued }}
    {{ $line1 = $line1 | append . }}
{{ end }}
{{ with $line1 }}
    <br>{{ delimit . ", " }}.
{{ end }}

{{ $line2 := slice }}
{{ with .publication.url }}
    {{ $line2 = $line2 | append (printf "<a href=\"%v\">[pdf]</a>" .) }}
{{ end -}}
{{- with .publication.doi }}
    {{ $line2 = $line2 | append (printf "<a href=\"https://doi.org/%v\">[doi]</a>" .) }}
{{ end }}
{{ with $line2 }}
    <br>{{ delimit . " " }}
{{ end }}
<hr/>
</div>
</div>