<h3 class="display-5 pb-1">Research groups</h3>
{{ $groups := .Site.Taxonomies.groups }}
{{ $rse := ($groups.Get "rse").Page }}
{{ $cav := ($groups.Get "cav").Page }}
{{ $apre := ($groups.Get "apre").Page }}
{{ $pav := ($groups.Get "pav").Page }}
<div class="py-3" style="background: linear-gradient(white, #e4ffe0 5%, #ffe2e0 95%, white);">
    <div class="row justify-content-center">
        <p class="lead text-muted">Systems Engineering</p>
    </div>
    <div class="row justify-content-around">
        <a class="col-3" href="{{ $rse.Permalink }}"><img src="{{ $rse.Params.logo }}"/ alt="{{ $rse.Params.name }}"></a>
        <a class="col-3" href="{{ $cav.Permalink }}"><img src="{{ $cav.Params.logo }}"/ alt="{{ $cav.Params.name }}"></a>
    </div>
    <div class="row justify-content-center">
        <img class="col-5" src="/images/forsyte.png"/>
    </div>
    <div class="row justify-content-around">
        <a class="col-3 w-25" href="{{ $apre.Permalink }}"><img style="object-fit: cover" src="{{ $apre.Params.logo }}"/ alt="{{ $apre.Params.name }}"></a>
        <a class="col-3" href="{{ $pav.Permalink }}"><img src="{{ $pav.Params.logo }}"/ alt="{{ $pav.Params.name }}"></a>
    </div>
    <div class="row justify-content-center">
        <p class="lead text-muted mb-2">Formal Methods</p>
    </div>
</div>
