<h3 class="display-5 pb-1">Research groups</h3>
{{ $groups := .Site.Taxonomies.groups }}
{{ $rse := ($groups.Get "rse").Page }}
{{ $cav := ($groups.Get "cav").Page }}
{{ $apre := ($groups.Get "apre").Page }}
{{ $pav := ($groups.Get "pav").Page }}
<div class="py-3" style="background: linear-gradient(white, #e4ffe0 5%, #ffe2e0 95%, white);">
    <div class="row justify-content-center">
        <p class="lead text-muted">Systems Engineering</p>
    </div>
    <div class="row justify-content-around">
    {{ range slice $rse $cav }}
        <a class="col-3 d-flex justify-content-center" href="{{ .Permalink }}">
            <figure>
                <img src="{{ .Params.logo }}" alt="{{ .Params.name }}"/>
                <!-- <figcaption style="text-align: center;">{{ .Params.name }}</figcaption> -->
            </figure>
        </a>
    {{ end }}
    </div>
    <div class="row justify-content-center">
        <img class="col-5" src="/images/forsyte.png"/>
    </div>
    <div class="row justify-content-around">
    {{ range slice $apre $pav }}
        <a class="col-3 d-flex justify-content-center" href="{{ .Permalink }}">
            <figure>
                <img src="{{ .Params.logo }}" alt="{{ .Params.name }}"/>
                <!-- <figcaption style="text-align: center;">{{ .Params.name }}</figcaption> -->
            </figure>
        </a>
    {{ end }}
    </div>
    <div class="row justify-content-center">
        <p class="lead text-muted mb-2">Formal Methods</p>
    </div>
</div>
