
{{ define "main" }}
<table class="table">
<tbody>
    <tr>
        <th scope="row">
        </th>
        <td class="align-middle">
            <h3>{{ .Params.name }}</h3>
        </td>
    </tr>
    <tr>
        <th scope="row">
            <h5>Description</h5>
        </th>
        <td class="align-middle">
            {{ .Content }}
        </td>
    </tr>
    {{ $people := (where .Pages "Params.former_member" false) }}
    <tr>
        <th scope="row">
            <h5>Group members</h5>
        </th>
        <td class="align-middle">
            {{ partial "people-row.html" (dict "people" $people "mod" 2) }}
        </td>
    </tr>
    <tr>
    {{ with partial "get-publications.html" (dict "people" $people "page" .) }}
        <th scope="row">
            <h5>Publications</h5>
        </th>
        <td class="align-middle">
        {{ partial "list-publications.html" . }}
        </td>
    {{ end }}
    </tr>
</tbody>
</table>
{{ end }}
